html{
    font-size: 62.5%;
}

.menu__principal{
    color:  rgba(255, 0, 0, 0.863);
    text-decoration: none;
    font-size: 2rem;
    font-family:'Open Sans', sans-serif;
    padding: 5px 5px;
    margin-top: 15px;
    margin-bottom: 1px;
    display: inline-block;
}

.mp2:hover{
    background-color: #5858ce85;
    border-style: outset;
    font-weight: bold;
}


.menu__nosotros{
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    background-color: rgba(0, 0, 255, 0.274);
}


.menu__personal{
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    background-color: rgba(0, 0, 255, 0.274);
}
.menu__personal2{
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    display: inline-block;
    padding: 15px;
    margin: 2px;
    padding-right: 1px;
    
}


.menu__marcas{
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
}
.menu__marcas2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    display: inline-block;
    padding: 10px;
    background: linear-gradient(to bottom, blue, white);
    color: rgba(255, 0, 0, 0.863);
}

.imagenes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;

}
.img2{
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    
}

.imgdescrip{
    color: red;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.precio{
    color: green;
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
}



.imgamoladora{
    width: 250px;
    height: 250px;
    margin-top: 30px;

    }
.imgcamisa{
        width: 250px;
        height: 250px;
        margin-top: 30px;    
    }   
.imgmascara{
        width: 250px;
        height: 250px;
        margin-top: 30px;
        margin-left: 55px;
    }
    
.imgsetbahco{
        width: 250px;
        height: 250px;
        margin-top: 30px;
    }
.imgsold{
        width: 250px;
        height: 250px;  
        margin-top: 30px;
    }
.imgtijera{
        width: 250px;
        height: 250px;   
        margin-top: 50px;
    }
.imgzapatilla{
        width: 250px;
        height: 250px;
        margin-top: 50px;
    }

.fondoBody{
    background-color: rgba(0, 0, 255, 0.274);
}


.titulo__Principal{
    background-color: rgba(27, 30, 221, 0.651);
    background: linear-gradient(to bottom, blue, white);
    color: rgba(255, 0, 0, 0.863);
    text-align: center;
    font-size: 8rem;
    font-family:'Jacques Francois Shadow', cursive;
    margin-top: 40px;
}

.ferre{
    font-family: 'Open Sans', sans-serif;
    font-size: 5rem;
    color: blue;
    text-align: center;
    margin-bottom: 5px;
}

.titulo__Principal2{
    text-align: center;
    color: blue;
    text-decoration: none;
    font-size: 4rem;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    margin-top: 10px;
}
.titulo__comercial{
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
}
.titulo__comercial2{
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    background: radial-gradient(blue, white);
    text-align: center;
    border-style: outset;
}
.titulo__industrial{
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    
}
.titulo__industrial2{
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    background: radial-gradient(blue, white);
    text-align: center;
    border-style: outset;
}

.Licenciaoficial{
font-size: 3rem;
font-family: Georgia, 'Times New Roman', Times, serif;
color:rgba(238, 11, 11, 0.87) ;
animation-name: Licenciaoficial ;
animation-duration: 2s;
animation-delay: 2s;
animation-iteration-count: infinite;
display: inline-block;
font-weight: bold;
margin-bottom: 5px;
}

@keyframes Licenciaoficial{
    0%{opacity: 100%;}

    50%{opacity: 50%;}

    0%{opacity: 100%;}
}


article{
    font-family:'Open Sans', sans-serif;
    font-size: 2rem;

}

article ul ul{
    font-family: 'Roboto Mono', monospace;
    font-size: 3rem;
}



.stihl{
    background-color:  rgba(0, 0, 255, 0.274);
    font-family:'Roboto Mono', monospace;
    font-size: 2rem;
    margin-bottom: 150px;
    display:inline-block;
}
    .noneStihl{
    text-decoration: none;
    color: black;
    }
    .stihl2{
        text-decoration: underline;
        font-size: 3rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

.texto{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.karcher{
    background-color:  rgba(0, 0, 255, 0.274);
    font-family:'Roboto Mono', monospace;
    font-size: 2rem;
    }
    .noneKarcher{
        text-decoration: none;
        color: black;
    }
    .karcher2{
        text-decoration: underline;
        font-size: 3rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    




.texto{
    justify-content: start;
    padding:10px;
}


.redessoc1{
    position: fixed;
    right: 0;
    bottom: 450px;
}


.redessoc{
    margin: 5px;
    height: 45px;
    width: 45px;
    display: block;
}


.footer{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    }
.footer1{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: left;
    margin-bottom: 50px;
    margin-top: 40px;
    text-decoration: underline;
}

.footer2{
    font-family:'Open Sans', sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}



 /*@media screen and (max-width:768px){
   .grid{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
        grid-template-areas: 
        "grid1 grid1 grid1"
        "grid2 grid2 grid2"
        "grid3 grid3 gird3"
        "grid4 grid4 grid4";
        }
.grid1{
    background-color: blueviolet;
    }
.grid3{
    background-color:seagreen;
    }
.grid4{
    background-color: yellow;
    }
}/*  */

@media screen and (max-width:500px){
.grid{
    grid-template-columns: 1fr;
    grid-auto-rows: 0.5fr 1fr 1fr 0.5fr;
    grid-template-areas: 
    "grid1" 
    "grid2"
    "grid3"
    "grid4";}
    
.grid1{
    grid-area: grid1;
    
    }
.grid2{
    grid-area: grid2;
    
    }
.grid3{
    grid-area: grid3;
    
    }
.grid4{
    grid-area: grid4;
    
    }
    
} 